.header{
    width: 100%;
    display: flex;
    cursor: pointer;
    position: fixed;
    text-transform: uppercase;
    background-color: #233643;
    font-size: 5vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: whitesmoke;
    z-index: 100;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
}
@media(max-width:1000px){
    .header{
        padding-top: 15px;
        font-size: 6.4vh;
    }
}
@media(max-width:950px){
    .header{
        font-size: 3vh;
    }
}